.noto-sans- {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;
}
body {
  margin: 0;
  padding: 0;
}
/* nav style */
.list-style {
  list-style: none;
  gap: 48px;
}
div ul a {
  text-decoration: none;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-right: 150px;
  margin-left: 150px;
}
.nav-ul {
  display: flex;
  gap: 20px;
}
/* color style */
.color-gray {
  color: rgba(0, 0, 0, 0.5);
}
.color {
  color: rgba(0, 0, 0, 1);
}
.orange-color {
  color: rgba(233, 90, 8, 1);
}
.Home {
  color: rgba(37, 36, 50, 1);

  font-weight: bold;
}
.li {
  font-size: 22px;
}
/* banner style */
.banner {
  display: flex;
  margin-top: 211px;
  margin-right: 175px;
  margin-left: 125px;
  margin-bottom: 130px;
  gap: 0px;
  max-width: 1140px;
}
.banner-child {
  padding-top: 50px;
  padding-bottom: 5px;
}
.banner-heading {
  font-size: 65px;
  font-weight: bold;
  padding-bottom: 13px;
}
.banner-image {
  width: 570px;
  height: 355px;
  margin-top: 65px;
}
/* our plants section */
.plants-father {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.our-plants-section {
  margin-top: 130px;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 50px;
}
.our-plants-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.plants-heading {
  font-size: 50px;
  font-weight: bold;
}
/* button style */
.btn-primary {
  background-color: rgba(233, 90, 8, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.btn {
  height: 50px;
  width: 270px;
  padding: 19px 80px;
}
/* card style */
.card-section {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  width: 270px;
  height: 484px;
  gap: 20px;
  margin: 30px;
}
/* trusted section style */
.trusted-section-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.trusted-img {
  width: 540px;
  height: 597px;
}
.trusted-section {
  margin-top: 210px;
  margin-right: 150px;
  margin-bottom: 131px;
  margin-left: 150px;
  position: relative;
}
.trusted-content {
  padding-top: 38px;
  padding-bottom: 38px;
  text-align: justify;
}
.trusted-logo {
  width: 286px;
  height: 286px;
  position: absolute;
  top: -140px;
  left: 360px;
}
/* Latest Deals style */
.latest-deals {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 157px;
  margin-right: 150px;
  margin-bottom: 125px;
  margin-left: 150px;
}
/* Layout card style */
.cards-container {
  max-width: 1140px;
  max-height: 428px;
  margin-top: 123px;
  margin-right: 142px;
  margin-bottom: 126px;
  margin-left: 158px;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  position: relative;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-layout {
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  padding: 20px;
  width: 366px;
  height: 206px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-1 {
  background-image: url(../assets/deal-bloom.png);
}
.card-2 {
  background-image: url(../assets/deal-ana.png);
}
.right {
  background-image: url(../assets/deal-zabo.png);
  background-size: cover;
  background-position: center;
  color: white;
  height: 423px;
  width: 753px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-layout a {
  color: white;
  text-decoration: underline;
}
.right h2 {
  text-decoration: underline;
  font-size: 28px;
  font-weight: 700;
}
.card-layout h3 {
  font-size: 20px;
  font-weight: bold;
}

/* colorful bunch style */
.coloor-full {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 700px;
}
.colorfun-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 199px;

  padding-right: 305px;
  padding-left: 305px;
  padding-bottom: 193px;
}
.colorfun-container h2 {
  color: rgba(255, 255, 255, 1);
}
.butt {
  height: 54px;
  width: 186px;
}
.email {
  height: 50px;
  width: 644px;
}
.colours-full {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* footer style */
.footer-container {
  display: flex;
  margin: 50px 160px;
  justify-content: space-around;
}
.footer-li {
  list-style: none;
}
.footer-ul {
  gap: 32px;
  display: flex;
  flex-direction: column;
}
.footer-fc {
  color: #6b7280;
  font-size: 22px;
}
.footer-icon {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.footer-img {
  height: 36px;
  width: 36px;
}
@media (max-width: 767px) {
  /* header style */
  /* .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */
  /* nav */
  .nav-container {
    display: flex;
    justify-content: space-between;

    width: 361px;
    height: 38px;

    margin-right: auto;
    margin-left: 150px;
    margin-top: 30px;
  }
  .cart {
    width: 113px;
    height: 24px;
  }
  .menu {
    display: none;
  }
  /* banner */
  .banner {
    display: flex;
    margin-top: 211px;
    margin-right: 175px;
    margin-left: 350px;
    margin-bottom: 130px;
    gap: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .banner-child {
    padding-top: 50px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner-heading {
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 13px;
  }
  .banner-image {
    width: 570px;
    height: 355px;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
  }
  /* our plants section */
  .our-plants-section {
    margin-top: 130px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 210px;
  }
  /* .our-plants-container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */
  .plants-father {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 393px;
    height: 117px;
  }
  .plant-content {
    width: 393px;
    height: 117px;
  }
  .plants-heading {
    font-size: 50px;
    font-weight: bold;
  }
  .card-section {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 200px;
  }
  .card {
    width: 270px;
    height: 484px;
    gap: 20px;
    margin: 30px;
  }
  /* Trusted */
  .trusted-section-container {
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
  }

  .trusted-img {
    width: 358px;
    height: 396px;
    margin-bottom: 0;
    /* margin-right: 20px; */
  }
  .trusted-section {
    margin-top: 210px;
    margin-right: 150px;
    margin-bottom: 170px;
    margin-left: 150px;
  }
  .trusted-content {
    text-align: justify;
    width: 361px;
    height: 234px;
    margin-top: 18px;
  }
  .trusted-logo {
    display: none;
  }
  /* latest-deal */
  .latest-deals {
    width: 100%;
    height: 117;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    padding-top: 50px;
  }
  /* Layout section */
  .cards-container {
    margin-top: 123px;
    margin-right: 300px;
    margin-bottom: 400px;
    margin-left: 158px;
    /* padding: 20px; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    position: relative;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card-layout {
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    padding: 20px;
    width: 366px;
    height: 206px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .right {
    background-image: url(../assets/deal-zabo.png);
    background-size: cover;
    background-position: center;
    color: white;
    height: 250px;
    width: 400px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* colourful bunch */

  .coloor-full {
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    width: 635px;
    background-repeat: no-repeat;
    height: 600px;
  }
  .colorfun-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-top: 199px; */

    /* padding-right: 305px; */
    /* padding-left: 305px; */
    /* padding-bottom: 193px; */
  }
  .colorfun-container h2 {
    color: rgba(255, 255, 255, 1);
  }

  .butt {
    height: 54px;
    width: 103px;
  }
  .email {
    height: 50px;
    width: 218px;
  }
  .colours-full {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .color-full-head {
    width: 235px;
    height: 27px;
    font-size: 20px;
    font-weight: bold;
  }
  /* footer section */
  .footer-container {
    display: flex;
    flex-direction: column;
    margin: 50px 160px;
    justify-content: space-around;
    align-items: start;
    margin-left: 0;
    padding-left: 10px;
  }
  .footer-icon {
    margin-left: 0;
    padding-left: 35px;
  }
  .footer-child {
    margin-left: 0;
    padding-left: 35px;
  }
}
